<section>
    <div class="container text-secondary text-center">
        <div class="col">
            <div class="row justify-content-center">
                {% include "banner_animation.html" %}
            </div>
            <div class="row">
                <h1 class="display-5 fw-bold text-white py-1">OCR Service</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4"> OCR (Optical Character Recognition) is a technology that extracts text from images or scanned documents, making them editable and searchable. To use the app, simply upload an image, and a OCR engine will display the extracted text. Enjoy hassle-free text extraction! </p>
                </div>
            </div>
        </div>
    </div>
</section>