<section>
    <div class="d-flex justify-content-center">
        <form id="upload-form" method="post" enctype="multipart/form-data">
            <div class="input-group mb-2">
              <input class="btn btn-outline-info" type="file" id="user_image">
              <input id="text_area" type="text" class="form-control text-white bg-dark" placeholder="" readonly="readonly" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <img id="image" alt="Image">
    </div>
</section>

<script src="../static/scripts/upload_image.js"></script>
